#demo {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 4px;
  overflow: auto;
  padding: 2vw;
  background-color: #ced5e0;
}

#main {
  padding-left: 15vw;
}

  body {
  background-color: #979aa0;
}
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
